 .partnerlogo
{

 content: url(./resources/Z_GIS-Logo.png);
top:0;

  height: 100%;
  width: 100%;
  
  	z-index: -1;
  position: absolute;
        top: 0%;
        right: 0%;
  
	justify-content: left;

}